{% extends 'layout.html' %}
{% block title %}
Sponsors
{% endblock %}
{% block content %}
<h1 class="mt-3">Sponsors</h1>
<div class="heading m-4">
    <h3 class="text-muted"><i>All Sponsors</i></h3>
</div>

{% if sponsors | length !=0 %}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Industry</th>
            <th>E-mail</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    {% endif %}

    {% for sponsor in sponsors %}
    <tr>
        <td>{{ sponsor.id }}</td>
        <td>{{ sponsor.name }}</td>
        <td>{{ sponsor.company }}</td>
        <td>{{ sponsor.industry }}</td>
        <td>{{ sponsor.email }}</td>
        <td>
            {% if sponsor.flagged == False %}
            <span class="badge rounded-pill text-bg-success">Not flagged</span>
            {% else %}
            <span class="badge rounded-pill text-bg-danger">Flagged</span>
            {% endif %}
        </td>
        <td>
            {% if sponsor.flagged == False %}
            <a href="{{ url_for('flag_user',id=sponsor.id) }}" class="btn btn-sm btn-danger">
                <i class="fas fa-flag fa-xs"></i>
                Flag
            </a>
            {% else %}
            <a href="{{ url_for('unflag_user',id=sponsor.id) }}" class="btn btn-sm btn-warning">
                <i class="fas fa-bolt fa-xs"></i>
                Unflag
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}

    {% endblock %}

    {% block style %}

    <style>
        .heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        tr{
            color: black;
        }
        td{
            color: black;
        }
    </style>

    {% endblock %}