{% extends 'layout.html' %}
{% block content %}
<div class="container">
<div class="box">
    <h2>Welcome to</h2>
    <h1>SponSync</h1>
    <h3 class="text-center" style="font-weight: lighter;">
        <i>connecting influencers and sponsors</i>
    </h3>
    <a href="{{ url_for('login') }}" class="btn btn-info btn-small mt-5">Get Started !</a>
</div>
<div class="img">
</div>
</div>
{% endblock %}

{% block style %}
<style>

    body{
        background-image: url("/static/Banner_Image.webp");
        background-size: cover;
    }

    .container{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .box {
        display: flex;
        background-color: aliceblue;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 40px;
        border-radius: 20px;
    }

    h1 {
        font-size: 100px;
    }

    h2 {
        font-size: 30px;
        margin: 10px;;
    }

    h3{
        font-size: 20px;
    }
</style>
{% endblock %}